<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Autor: Johnny Zapata Serna -->
<!-- Archvio: Index about project -->
<!-- ======================================== -->

<div class="container">
	<h2 class="page-header">Sobre el proyecto</h2>
	<div id="description">
		<h3 class="title-text">MAUL PROJECT </h3>
		<p align="justify">
			Maul Project es una plataforma de servicio en la que los usuarios y colaboradores encontrarán información relevante sobre las comunidades, personas líderes, sitios (organizaciones, instituciones, empresas, escenarios, etc) y eventos; dichos eventos podrán contar con la posibilidad de que a través de un módulo de gestión de recursos, se puedan conseguir o disponer de insumos, herramientas o los medios necesarios para la realización del evento planteado, donde otros usuarios podrán ser los colaboradores o quienes apoyen las iniciativas.<br><br>

Maul Project es una plataforma abierta y colaborativa que para esta primera fase permite:
<br><br>
Registro de usuarios Los usuarios son todas las personas que visitan o se registran en la aplicación. Para crear una cuenta basta con ingresar datos como correo electrónico y una contraseña. Todos los usuarios que se registran cuentan con otras funcionalidades dentro del sistema como crear comunidades, sitios o eventos.<br><br>

<b>Gestión de comunidades</b>
Según el autor Natalio Kisnerman señala que “el concepto de comunidad proviene del latín communis, que significa hombres conviviendo juntos en un espacio, compartiendo algo, convivencia, comunicación, unidad. Por lo tanto, podemos en principio decir que es un sistema de relaciones sociales en un espacio definido, integrado con base en intereses y necesidades compartidas. […] lo que permite concluir que la comunidad es algo más que un área geográfica delimitada.” Basado en el anterior concepto y extrapolándolo al espacio virtual, para maul project una comunidad reunirá a los diferentes grupos sociales sin discriminar su áreas afines.<br><br>

Por ejemplo, una comunidad podría ser un equipo deportivo, un grupo cultural, un grupo de investigación, los empleados de una organización, los estudiantes de una universidad o colegio y hasta el grupo de usuarios que frecuentan una tienda o supermercado. Como se puede apreciar las temáticas o campos de acción son diversos y pueden ser más específicos. ¿Qué esperas para registrar la comunidad de la que sos parte?<br><br>

<b>Gestión de sitios </b>
Los sitios son lugares que existen en alguna comuna y en ellos se reúnen una o más comunidades. por ejemplo, Escenarios deportivos y recreativos, universidades, colegios, instituciones, empresas, tiendas o supermercados.<br><br>

<b>Gestión de eventos </b>
Los eventos son acciones que emprenden las personas, comunidades o sitios. Para registrar un evento es necesario indicar el sitio donde se realizará además de los datos complementarios que ofrezcan una información completa y detallada.<br><br>

<b>Gestión de recursos </b>
Realizar un evento implica disponer de unos recursos mínimos para lograr con éxito el propósito del evento. Maul Project busca ser una plataforma que integra sistemas de transacción y de gestión los recursos que se indiquen. Este módulo espera ser implementado en una segunda fase.<br><br>

<b>Conocer la ciudad </b>
Al reunir toda la información antes mencionada, se puede ofrecer una guía informativa y actualizada sobre lo que sucede en nuestra ciudad.<br><br>
		</p>
	</div>
</div>