<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Autor: Johnny Zapata Serna -->
<!-- Archvio: Index about project -->
<!-- ======================================== -->

<div class="container">
	<h2 class="page-header">Index Sobre el proyecto</h2>
</div>