//This css is for pisition elements, comunas. The idea is build the map of the city.


.comuna {
	opacity: 1;
	fill: #eb1a1a;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.26458332;
	stroke-opacity: 1;
}
.comuna:hover{
	
}
.comuna-number {
	fill: #ffffff;
}
.comuna-number:hover {
	fill: #3a8b42;
}


#comunas {
	position: absolute;
}

.comuna-uno {
	opacity: 1;
	fill: #eb1a1a;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.26458332;
	stroke-opacity: 1;
	background-color: red;
	-webkit-mask-image: url('https://pbs.twimg.com/media/CClDy67W4AA0Le4.jpg');
	mask-image: url('https://pbs.twimg.com/media/CClDy67W4AA0Le4.jpg');
}

.comuna-uno:hover{
	fill: #faf3f9a4;
}
.comuna-uno-number {
	fill: #115ac2;
}
.comuna-uno-number:hover {
	fill: #3a8b42;
}

.comuna-dos {
	opacity: 1;
	fill: #eb1a1a;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.26458332;
	stroke-opacity: 1;
}
.comuna-dos:hover{
	fill: #faf3f9a4;
}
.comuna-dos-number {
	fill: #115ac2;
}
.comuna-dos-number:hover {
	fill: #3a8b42;
}


.comuna-tres {
	opacity: 1;
	fill: #eb1a1a;
	fill-opacity: 1;
	stroke: #ffffff;
	stroke-width: 0.26458332;
	stroke-opacity: 1;
}
.comuna-tres:hover{
	fill: #faf3f9a4;
}
.comuna-tres-number {
	fill: #115ac2;
}
.comuna-tres-number:hover {
	fill: #3a8b42;
}tres
#comuna-cuatro {
	position: absolute;
	margin-top: 112px;
	left: 37.2%;
}

#comuna-cinco {
	position: absolute;
	margin-top: 123px;
	left: 42.9%;
}

#comuna-seis {
	position: absolute;
	margin-top: 22px;
	left: 43.8%;
}

#comuna-siete {
	position: absolute;
	margin-top: 213px;
	left: 41.1%;
}

#comuna-ocho {
	position: absolute;
	margin-top: 270px;
	left: 37.8%;
}

#comuna-nueve {
	position: absolute;
	margin-top: 291px;
	left: 30.95%;
}

#comuna-diez {
	position: absolute;
	margin-top: 379px;
	left: 30.8%;
}

#comuna-once {
	position: absolute;
	margin-top: 376px;
	left: 36.5%;
}

#comuna-doce {
	position: absolute;
	margin-top: 340px;
	left: 40.7%;
}

#comuna-trece {
	position: absolute;
	margin-top: 336px;
	left: 42.58%;
}

#comuna-catorce {
	position: absolute;
	margin-top: 354px;
	left: 49.47%;
}

#comuna-quince {
	position: absolute;
	margin-top: 463px;
	left: 39%;
}

#comuna-dieciseis {
	position: absolute;
	margin-top: 456px;
	left: 35.9%;
}

#comuna-diecisiete {
	position: absolute;
	margin-top: 510px;
	left: 27.9%;
}

#comuna-dieciocho {
	position: absolute;
	margin-top: 583px;
	left: 21.8%;
}

#comuna-diecinueve {
	position: absolute;
	margin-top: 306px;
	left: 20.6%;
}

#comuna-veinte {
	position: absolute;
	margin-top: 80px;
	left: 37%;
}

#comuna-veintiuno {
	position: absolute;
	margin-top: 307px;
	left: 50.7%;
}

#comuna-veintidos {
	position: absolute;
	margin-top: 80px;
	left: 37%;
}