<section id="modify_community">
	<div class="container">
		<% if user_signed_in?%>
			<h2 class="page-header" align="center">Actualizar Información</h2>
			<%= render 'form', community: @community %>
		<% else %>
	      <div class="row" align="center">
	        <h4 class="page-header">Primero Debes Iniciar Sesión</h4>
	        <div class="col-md-6">
	          <div class="thumbnail thumbnail-btn">
	              <%= link_to "REGISTRARSE", new_user_registration_path, :class => 'navbar-link' %>
	          </div>
	        </div>

	        <div class="col-md-6" >
	          <div class="thumbnail thumbnail-btn">
	            <a href="/users/sign_in">INICIAR SESIÓN</a>
	          </div>
	        </div>
	      </div>
	    <% end %>
	</div>
</section>
