<h1>|</h1>
<section id="register_community">
<div class="container">
	<h2 class="page-header" align="center">Registra tu Comunidad</h2>
	<%= render 'form', community: @community %>
</div>
</section> 

