<section id="edit_site">
	<div class="container">
		<h2 class="page-header" align="center">Modificar el Sitio</h2>
		<%= render 'form', site: @site %>
		<%= link_to 'Show', @site %> |
		<%= link_to 'Back', sites_path %>
	</div>
</section> 

