<!-- ======================================== -->
<!-- Maul Project - Una Ciudad, Una Comunidad -->
<!-- Autor: Johnny Zapata Serna -->
<!-- File: Sites index -->
<!-- ======================================== -->


<!-- Breadcrumb navigation -->
  <div class="container">
    <ul class="breadcrumb page-header">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/sites">Sitios</a></li>
      <li><a href="/">Santiago de Cali</a></li>
    </ul>
  </div>

<!-- Index -->
<div class="container" align="center">

  <h2 align="center">Sitios</h2>
  
    <%= link_to 'Registrar Un Sitio', new_site_path %>
    <table class="table table-responsive">
      <thead>
        <tr>           

        </tr>
      </thead>

      <tbody>                
          <div class="col-lg-12">
          <% @sites.each do |site| %>            
            <tr>
              <div class="col-md-3">
              <div class="thumbnail">
                <img class="img-responsive">
                <%= link_to image_tag(site.avatar.url, :width=>200, :heigth=>200), site %>
                <div class="caption">
                  <%= link_to site.name, site %>
                </div>
              </div> 
              </div>              
            </tr>
          </div>
          <% end %>
      </tbody>
    </table>  
  <br>  
</div>
</section>
<p id="notice"><%= notice %></p>